
@{
    ViewBag.Title = "ChangeHead";
}


<style>
    .wideSelect {
        width: 100%;
    }
</style>

<h2>Choose New Head of Household</h2>

<h4>Choose another member of your household to take over your role as Head of Household. This will also remove you as a member of the household.</h4>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            @using (Html.BeginForm("ChangeHeadAsync", "Households"))
            {
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col">
                        @Html.DropDownList("newHoH", new SelectList(ViewBag.NewHoH, "Id", "FullName"), "--Choose New Head--",new { @class = "wideSelect"})
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>